{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(form) }}

<div class="form_row">
{{ form_row(form.title, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="form_row">
{{ form_row(form.address, {'attr': {'class': 'form-control'}}) }}
</div>

{# TODO deal with error display for each field. Percent sum is for all percents choice.#}
<table>
    <thead>
        <tr>
            <td>Address</td>
            <td>Percent</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for dispatchRecipient in form.dispatchRecipients %}
        <tr>
            <td>{{ form_widget(dispatchRecipient.address) }}</td>
            <td>{{ form_widget(dispatchRecipient.percent) }}</td>
            <td>
                <button class="del_row" novalidate>Suppr.</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button id="add_row" novalidate>( + ) Line</button>

{{ form_end(form) }}


<script src="/assets/js/form.js"></script>

{% endblock %}
